@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using Manero.Models

@await Html.PartialAsync("_AccountHeader", new AccountHeaderViewModel
    {
    Title = "Sign up",
    BackButtonLink = string.IsNullOrEmpty(Request.Headers["Referer"].ToString()) ? "/#" : Request.Headers["Referer"].ToString()
    })
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 style="margin-top: 5rem;" class="big-title">Sign Up</h1>
    <form class="mt-4 w-100" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-holder mb-3">
            <input asp-for="Input.Name" autocomplete="name" aria-required="true" />
            <label asp-for="Input.Name">Name</label>
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <div class="input-holder mb-3">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"  />
            <label asp-for="Input.Email">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-holder mb-3">
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true"  />
            <label asp-for="Input.Password">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="input-holder mb-3">
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true"  />
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="my-btn">Register</button>
    </form>
    <section class="mt-4">
        <h3>Use another service to register.</h3>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
